# **Создание модели на основе данных о качестве воздуха**

В этом проекте наша команда будет исследовать набор данных о качестве воздуха, чтобы обучить модель машинного обучения (ML), способную предсказывать концентрацию угарного газа в воздухе на основе концентрации различных загрязнителей, таких как металлические оксиды и углеводороды. Это также даст нам возможность работать с временными рядами.

Данные были получены из репозитория машинного обучения UCI здесь [UCI Machine Learning Repository - Air Quality Dataset](https://archive.ics.uci.edu/ml/datasets/Air+Quality). Этот набор данных охватывает данные датчиков по различным загрязнителям, собранные с марта 2004 года по февраль 2005 года (1 год).

# **О наборе данных**

Этот набор данных содержит ответы устройства многосенсорного газового детектора, размещенного на местности в итальянском городе. В нем записаны средние почасовые показания вместе с эталонными концентрациями газов, полученными с помощью сертифицированного анализатора. Данные взяты из репозитория машинного обучения UCI: [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php)

Набор данных содержит 9357 экземпляров почасовых усредненных ответов от массива из 5 химических сенсоров на основе металлических оксидов, встроенных в многосенсорное устройство контроля качества воздуха. Устройство было расположено на местности в значительно загрязненной области, на уровне дороги, в итальянском городе. Данные записывались с марта 2004 года по февраль 2005 года (один год), представляя самую длительную бесплатно доступную запись ответов устройств детектирования качества воздуха на местности. Почасовые усредненные концентрации для CO, неметановых углеводородов, бензола, общих оксидов азота (NOx) и диоксида азота (NO2) были предоставлены совместно расположенным эталонным сертифицированным анализатором. Присутствуют доказательства перекрестных чувствительностей, а также концептуальных и сенсорных сдвигов, как описано в работе Де Вито и др., Sens. And Act. B, Vol. 129,2,2008 (требуется цитирование), в конечном итоге влияющих на способности оценки концентраций сенсорами. Отсутствующие значения помечены значением -200. Этот набор данных может использоваться исключительно в исследовательских целях. Коммерческое использование полностью исключено.

## **Открытие данных и изучение общей информации**

In [3]:
# импортируем необходимы библиотеки для работы с данными
import pandas as pd
import numpy as np
import datetime

# для работы с визуализациями
import plotly.graph_objects as go
import plotly.express as px

In [4]:
# считываем csv-файл датасета в перемнную data с использованием разделителей '\'
df = pd.read_csv('AirQuality.csv', sep=';')

In [5]:
# рассмотрим данные датасета (первые и последние 20 строчек)
display(df.head(20))
display(df.tail(20))

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN
5,10/03/2004,23.00.00,"1,2",1197.0,38.0,"4,7",750.0,89.0,1337.0,96.0,1393.0,949.0,"11,2","59,2","0,7848",NaN,NaN
6,11/03/2004,00.00.00,"1,2",1185.0,31.0,"3,6",690.0,62.0,1462.0,77.0,1333.0,733.0,"11,3","56,8","0,7603",NaN,NaN
7,11/03/2004,01.00.00,1,1136.0,31.0,"3,3",672.0,62.0,1453.0,76.0,1333.0,730.0,"10,7","60,0","0,7702",NaN,NaN
8,11/03/2004,02.00.00,"0,9",1094.0,24.0,"2,3",609.0,45.0,1579.0,60.0,1276.0,620.0,"10,7","59,7","0,7648",NaN,NaN
9,11/03/2004,03.00.00,"0,6",1010.0,19.0,"1,7",561.0,-200.0,1705.0,-200.0,1235.0,501.0,"10,3","60,2","0,7517",NaN,NaN
10,11/03/2004,04.00.00,-200,1011.0,14.0,"1,3",527.0,21.0,1818.0,34.0,1197.0,445.0,"10,1","60,5","0,7465",NaN,NaN
11,11/03/2004,05.00.00,"0,7",1066.0,8.0,"1,1",512.0,16.0,1918.0,28.0,1182.0,422.0,"11,0","56,2","0,7366",NaN,NaN
12,11/03/2004,06.00.00,"0,7",1052.0,16.0,"1,6",553.0,34.0,1738.0,48.0,1221.0,472.0,"10,5","58,1","0,7353",NaN,NaN
13,11/03/2004,07.00.00,"1,1",1144.0,29.0,"3,2",667.0,98.0,1490.0,82.0,1339.0,730.0,"10,2","59,6","0,7417",NaN,NaN
14,11/03/2004,08.00.00,2,1333.0,64.0,"8,0",900.0,174.0,1136.0,112.0,1517.0,1102.0,"10,8","57,4","0,7408",NaN,NaN
15,11/03/2004,09.00.00,"2,2",1351.0,87.0,"9,5",960.0,129.0,1079.0,101.0,1583.0,1028.0,"10,5","60,6","0,7691",NaN,NaN
16,11/03/2004,10.00.00,"1,7",1233.0,77.0,"6,3",827.0,112.0,1218.0,98.0,1446.0,860.0,"10,8","58,4","0,7552",NaN,NaN
17,11/03/2004,11.00.00,"1,5",1179.0,43.0,"5,0",762.0,95.0,1328.0,92.0,1362.0,671.0,"10,5","57,9","0,7352",NaN,NaN
18,11/03/2004,12.00.00,"1,6",1236.0,61.0,"5,2",774.0,104.0,1301.0,95.0,1401.0,664.0,"9,5","66,8","0,7951",NaN,NaN
19,11/03/2004,13.00.00,"1,9",1286.0,63.0,"7,3",869.0,146.0,1162.0,112.0,1537.0,799.0,"8,3","76,4","0,8393",NaN,NaN

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
9451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# посмотрим основную информацию по датасету
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

**Описание данных**

- 0 `Date` - дата (ДД/ММ/ГГГГ)
- 1 `Time` - время (ЧЧ.ММ.СС)
- 2 `CO(GT)` - истинная почасовая усредненная концентрация CO в мг/м^3 (эталонный анализатор)
- 3 `PT08.S1(CO)` - оксид олова; почасовой усредненный отклик сенсора (номинально нацеленный на CO)
- 4 `NMHC(GT)` - истинная почасовая усредненная общая концентрация неметановых углеводородов в микрог/м^3 (эталонный анализатор)
- 5 `C6H6(GT)` - истинная почасовая усредненная концентрация бензола в микрог/м^3 (эталонный анализатор)
- 6 `PT08.S2(NMHC)` - почасовой усредненный отклик сенсора (номинально нацеленный на NMHC)
- 7 `NOx(GT)` - истинная почасовая усредненная концентрация NOx в ппб (эталонный анализатор)
- 8 `PT08.S3(NOx)` - почасовой усредненный отклик сенсора (номинально нацеленный на NOx)
- 9 `NO2(GT)` - истинная почасовая усредненная концентрация NO2 в микрог/м^3 (эталонный анализатор)
- 10 `PT08.S4(NO2)` - почасовой усредненный отклик сенсора (номинально нацеленный на NO2)
- 11 `PT08.S5(O3)` - почасовой усредненный отклик сенсора (номинально нацеленный на O3)
- 12 `T` - температура в °C
- 13 `RH` - относительная влажность (%)
- 14 `AH` - абсолютная влажность

**По первоночальному ознакомлению с датасетом можно сказать следующее:**
- в датасете 17 столбцов с количеством строк - 9357
- в датасете присутствуют пропуски со значением `NaN` хотя в информации о датасете пропусков нет
- столбцы со временем и датой лучше объединить и преобразовать в формат `datetime`
- необходимо удалить столбцы `Unnamed: 15` и `Unnamed: 16`
- столбцах `CO(GT)`, `C6H6(GT)`, `T`, `RH`, `AH` необходимо поменять формат данных на float64

## **Предобработка данных**

Сначала удалим столбцы `Unnamed: 15` и `Unnamed: 16`

In [6]:
# удалим ненужные столбцы из датасета
df.drop(['Unnamed: 15','Unnamed: 16'], axis=1, inplace=True, errors = 'ignore') 
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"

Преобразуем столбцы `CO(GT)`, `C6H6(GT)`, `T`, `RH`, `AH` в формат float, при этом поменяем все запятые на точки, чтобы значения не исчезли

In [7]:
# преобразуем столбцы в формат float64
for col in ['CO(GT)', 'C6H6(GT)', 'T', 'RH', 'AH']:
    df[col] = df[col].str.replace(',', '.').astype(float)

Теперь поработаем над скрытыми пропусками. Из документации нам известно, что при значении `-200` замера не осуществлялось. Заменим эти значения на NaN

In [8]:
# Заменим значения -200 на NaN
df.replace(to_replace = -200, value = np.nan, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         7674 non-null   float64
 3   PT08.S1(CO)    8991 non-null   float64
 4   NMHC(GT)       914 non-null    float64
 5   C6H6(GT)       8991 non-null   float64
 6   PT08.S2(NMHC)  8991 non-null   float64
 7   NOx(GT)        7718 non-null   float64
 8   PT08.S3(NOx)   8991 non-null   float64
 9   NO2(GT)        7715 non-null   float64
 10  PT08.S4(NO2)   8991 non-null   float64
 11  PT08.S5(O3)    8991 non-null   float64
 12  T              8991 non-null   float64
 13  RH             8991 non-null   float64
 14  AH             8991 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

Похоже, что в столбце `NMHC(GT)` много некорректных показаний по сравнению со всеми другими датчиками. Посмотрим какой процент составляют нулевые значения относительно общего числа значений и решим стоит ли сохранять этот столбец или удалить его.

In [9]:
# создадим необходимые списки
percent_NaN = []
columns = df.columns
# создадим цикл определяющий процент пустых значений в столбцах
for col in columns:
    pNaN =  (df[col].isna().sum()/df.shape[0]) * 100
    percent_NaN.append(pNaN)
nan_percent_df = pd.DataFrame(percent_NaN,
                              index=columns,
                              columns=['%_NaN_in_Column']).sort_values('%_NaN_in_Column',ascending = False)
# посмотрим на полученные доли пустых значений в столбцах
nan_percent_df

               %_NaN_in_Column
NMHC(GT)             90.349488
CO(GT)               18.973709
NO2(GT)              18.540809
NOx(GT)              18.509133
PT08.S1(CO)           5.068103
C6H6(GT)              5.068103
PT08.S2(NMHC)         5.068103
PT08.S3(NOx)          5.068103
PT08.S4(NO2)          5.068103
PT08.S5(O3)           5.068103
T                     5.068103
RH                    5.068103
AH                    5.068103
Date                  1.203674
Time                  1.203674

Как видим количество путсых значений в столбце `NMHC(GT)` более 90%. Его можно удалить. Также удалим все строки с пустыми значениями и продолжим предобработку датасета.

In [10]:
# удалим столбец NMHC(GT)
df.drop('NMHC(GT)', axis=1, inplace=True, errors = 'ignore') 
# удалим пропуски из датасета
df = df.dropna()
df.head()

,Date,Time,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,2.6,1360.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004,19.00.00,2.0,1292.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004,20.00.00,2.2,1402.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004,21.00.00,2.2,1376.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004,22.00.00,1.6,1272.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [11]:
# посмотрим информацию по датасету
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6941 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6941 non-null   object
 1   Time           6941 non-null   object
 2   CO(GT)         6941 non-null   float64
 3   PT08.S1(CO)    6941 non-null   float64
 4   C6H6(GT)       6941 non-null   float64
 5   PT08.S2(NMHC)  6941 non-null   float64
 6   NOx(GT)        6941 non-null   float64
 7   PT08.S3(NOx)   6941 non-null   float64
 8   NO2(GT)        6941 non-null   float64
 9   PT08.S4(NO2)   6941 non-null   float64
 10  PT08.S5(O3)    6941 non-null   float64
 11  T              6941 non-null   float64
 12  RH             6941 non-null   float64
 13  AH             6941 non-null   float64
dtypes: float64(12), object(2)
memory usage: 813.4+ KB

Осталось почти 7 тыс строк. Этого должно хватить для анализа и создания модели

Столбцы со временем и датой объединим и преобразуем в формат `datetime`

In [12]:
# создадим новый столбец со временем и датой
df['DateTime'] =  (df['Date']) + ' ' + (df['Time'])
# преобразуем его в формат datetime
df['DateTime'] = df['DateTime'].apply(lambda x: datetime.datetime.strptime(x, '%d/%m/%Y %H.%M.%S'))
df

,Date,Time,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,DateTime
0,10/03/2004,18.00.00,2.6,1360.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,2004-03-10 18:00:00
1,10/03/2004,19.00.00,2.0,1292.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,2004-03-10 19:00:00
2,10/03/2004,20.00.00,2.2,1402.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,2004-03-10 20:00:00
3,10/03/2004,21.00.00,2.2,1376.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,2004-03-10 21:00:00
4,10/03/2004,22.00.00,1.6,1272.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,2004-03-10 22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,04/04/2005,10.00.00,3.1,1314.0,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568,2005-04-04 10:00:00
9353,04/04/2005,11.00.00,2.4,1163.0,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119,2005-04-04 11:00:00
9354,04/04/2005,12.00.00,2.4,1142.0,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406,2005-04-04 12:00:00
9355,04/04/2005,13.00.00,2.1,1003.0,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139,2005-04-04 13:00:00
9356,04/04/2005,14.00.00,2.2,1071.0,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028,2005-04-04 14:00:00

Теперь создадим столбцы даты, дня недели, месяца и часа (ну вдруг понадобятся) и удалим столбец `Time`

In [15]:
# создадим новые столбцы
df['Weekday'] = df['DateTime'].dt.weekday
df['Month']   = df['DateTime'].dt.month
df['Hour']    = df['DateTime'].dt.hour
# изменим формат столбца Date
df['Date']    = pd.to_datetime(df['Date'], format='%d/%m/%Y')
# удалим столбец Time
df.drop('Time', axis=1, inplace=True, errors = 'ignore') 
# посмотрим начало датасета
df.head()

,Date,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,DateTime,Weekday,Month,Hour
0,2004-03-10,2.6,1360.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,2004-03-10 18:00:00,2,3,18
1,2004-03-10,2.0,1292.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,2004-03-10 19:00:00,2,3,19
2,2004-03-10,2.2,1402.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,2004-03-10 20:00:00,2,3,20
3,2004-03-10,2.2,1376.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,2004-03-10 21:00:00,2,3,21
4,2004-03-10,1.6,1272.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,2004-03-10 22:00:00,2,3,22

Изменим порядок столбцов для удобства

In [19]:
df.drop('DateTime', axis=1, inplace=True, errors = 'ignore') 
df.drop('Date', axis=1, inplace=True, errors = 'ignore') 
# изменим порядок столбцов
df = df[['Month', 'Weekday', 'Hour', 'CO(GT)','PT08.S1(CO)', 'C6H6(GT)', 'PT08.S2(NMHC)', 
         'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH', 'AH']]
# посмотрим начало датасета
df.head()

,Month,Weekday,Hour,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3,2,18,2.6,1360.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3,2,19,2.0,1292.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3,2,20,2.2,1402.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,3,2,21,2.2,1376.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3,2,22,1.6,1272.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [20]:
# посмотрим информацию по датасету
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6941 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          6941 non-null   int64
 1   Weekday        6941 non-null   int64
 2   Hour           6941 non-null   int64
 3   CO(GT)         6941 non-null   float64
 4   PT08.S1(CO)    6941 non-null   float64
 5   C6H6(GT)       6941 non-null   float64
 6   PT08.S2(NMHC)  6941 non-null   float64
 7   NOx(GT)        6941 non-null   float64
 8   PT08.S3(NOx)   6941 non-null   float64
 9   NO2(GT)        6941 non-null   float64
 10  PT08.S4(NO2)   6941 non-null   float64
 11  PT08.S5(O3)    6941 non-null   float64
 12  T              6941 non-null   float64
 13  RH             6941 non-null   float64
 14  AH             6941 non-null   float64
dtypes: float64(12), int64(3)
memory usage: 867.6 KB

**Описание данных после предобработки**

- 1 `Month` - месяц замера
- 1 `Weekday` - день недели замера
- 2 `Hour` - Час замера
- 3 `CO(GT)` - истинная почасовая усредненная концентрация CO в мг/м^3 (эталонный анализатор)
- 4 `PT08.S1(CO)` - оксид олова; почасовой усредненный отклик сенсора (номинально нацеленный на CO)
- 5 `C6H6(GT)` - истинная почасовая усредненная концентрация бензола в микрог/м^3 (эталонный анализатор)
- 6 `PT08.S2(NMHC)` - почасовой усредненный отклик сенсора (номинально нацеленный на NMHC)
- 7 `NOx(GT)` - истинная почасовая усредненная концентрация NOx в ппб (эталонный анализатор)
- 8 `PT08.S3(NOx)` - почасовой усредненный отклик сенсора (номинально нацеленный на NOx)
- 9 `NO2(GT)` - истинная почасовая усредненная концентрация NO2 в микрог/м^3 (эталонный анализатор)
- 10 `PT08.S4(NO2)` - почасовой усредненный отклик сенсора (номинально нацеленный на NO2)
- 11 `PT08.S5(O3)` - почасовой усредненный отклик сенсора (номинально нацеленный на O3)
- 12 `T` - температура в °C
- 13 `RH` - относительная влажность (%)
- 14 `AH` - абсолютная влажность

In [21]:
# посмотрим характеристики по датасету
df.describe()

,Month,Weekday,Hour,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,6941.00000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000,6941.000000
mean,6.02723,3.040340,12.020170,2.182467,1119.913269,10.554488,958.543005,250.671949,816.893387,113.874082,1452.648898,1057.756519,17.755323,48.881905,0.985573
std,3.48971,2.017314,6.813924,1.441158,218.733754,7.465226,264.055002,208.611371,251.897200,47.475017,353.301576,406.509957,8.844909,17.433193,0.401097
min,1.00000,0.000000,0.000000,0.100000,647.000000,0.200000,390.000000,2.000000,322.000000,2.000000,551.000000,221.000000,-1.900000,9.200000,0.184700
25%,3.00000,1.000000,7.000000,1.100000,956.000000,4.900000,760.000000,103.000000,642.000000,79.000000,1207.000000,760.000000,11.200000,35.300000,0.694100
50%,6.00000,3.000000,12.000000,1.900000,1085.000000,8.800000,931.000000,186.000000,786.000000,110.000000,1457.000000,1006.000000,16.800000,49.200000,0.953900
75%,9.00000,5.000000,18.000000,2.900000,1254.000000,14.600000,1135.000000,335.000000,947.000000,142.000000,1683.000000,1322.000000,23.700000,62.200000,1.251600
max,12.00000,6.000000,23.000000,11.900000,2040.000000,63.700000,2214.000000,1479.000000,2683.000000,333.000000,2775.000000,2523.000000,44.600000,88.700000,2.180600

In [22]:
df.to_csv('processd_df.csv', sep = ';')

## Разведывательный анализ данных